# nuxt 相关
public-hoist-pattern[]=@nuxt/ui-templates
public-hoist-pattern[]=cookie-es
public-hoist-pattern[]=radix3
public-hoist-pattern[]=ufo
public-hoist-pattern[]=uncrypto
public-hoist-pattern[]=destr
public-hoist-pattern[]=defu
public-hoist-pattern[]=ofetch
public-hoist-pattern[]=@unhead/vue
public-hoist-pattern[]=vue-client-only
public-hoist-pattern[]=vue-meta
public-hoist-pattern[]=vue-no-ssr
